body{
    margin:0;
    overflow:hidden;
    background:black;
    color:cyan;
    font-family:Arial;
    text-align:center;
}

h1{
    position:absolute;
    top:10px;
    width:100%;
    z-index:2;
    text-shadow:0 0 20px cyan;
}

button{
    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);
    padding:15px 30px;
    background:cyan;
    border:none;
    font-size:18px;
    cursor:pointer;
    z-index:2;
}
