body{
    margin:0;
    background:black;
    color:cyan;
    font-family:Arial;
    text-align:center;
}

h1{
    margin-top:20px;
    text-shadow:0 0 20px cyan;
}

.street{
    position:relative;
    width:100%;
    height:400px;
    margin-top:40px;
    overflow:hidden;
    background:linear-gradient(black,#020617);
}

/* robot */
.robot{
    position:absolute;
    bottom:40px;
    left:-100px;
    width:80px;
    height:80px;
    background:cyan;
    border-radius:10px;
    box-shadow:0 0 20px cyan;
}

/* rain */
.rain{
    position:absolute;
    width:100%;
    height:100%;
    background-image:linear-gradient(transparent,rgba(0,255,255,0.2));
    animation:rain 0.3s linear infinite;
}

@keyframes rain{
    from{background-position:0 0;}
    to{background-position:0 100px;}
}

button{
    padding:15px 30px;
    font-size:18px;
    background:cyan;
    border:none;
    margin-top:30px;
    cursor:pointer;
}
