body {
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
}
#startBtn {
  position:absolute;
  top:20px;
  left:20px;
  padding:15px 30px;
  background:cyan;
  border:none;
  color:black;
  font-weight:bold;
  cursor:pointer;
  z-index:5;
}
canvas {
  display:block;
}
